/MultiVersArxProject/__PROJECT_NAME__19/x64
/MultiVersArxProject/__PROJECT_NAME__19/Debug
/MultiVersArxProject/__PROJECT_NAME__19/Release
/MultiVersArxProject/__PROJECT_NAME__20/x64
/MultiVersArxProject/__PROJECT_NAME__20/Debug
/MultiVersArxProject/__PROJECT_NAME__20/Release
/MultiVersArxProject/__PROJECT_NAME__21/x64
/MultiVersArxProject/__PROJECT_NAME__21/Debug
/MultiVersArxProject/__PROJECT_NAME__21/Release
/MultiVersArxProject/__PROJECT_NAME__22/x64
/MultiVersArxProject/__PROJECT_NAME__22/Debug
/MultiVersArxProject/__PROJECT_NAME__22/Release
